<div class="dropdown">
<span>Deck Builder</span>
<div class="dropdown-content">
  <a class="dropdownLinks" href="/deckbuilder/2">Druid</a>
  <a class="dropdownLinks" href="/deckbuilder/3">Hunter</a>
  <a class="dropdownLinks" href="/deckbuilder/4">Mage</a>
  <a class="dropdownLinks" href="/deckbuilder/5">Paladin</a>
  <a class="dropdownLinks" href="/deckbuilder/6">Priest</a>
  <a class="dropdownLinks" href="/deckbuilder/7">Rogue</a>
  <a class="dropdownLinks" href="/deckbuilder/8">Shaman</a>
  <a class="dropdownLinks" href="/deckbuilder/9">Warlock</a>
  <a class="dropdownLinks" href="/deckbuilder/10">Warrior</a>
</div>
</div>
