<!-- /deck_builder/:class_id -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/deck_builder.css">
    <title>Hearthstone Deck Builder</title>
    <link rel="stylesheet" href="/css/imageGallery.css">
  </head>

  <body>
    <% include ./partials/header %>
    <div class="bannerBorder">
    </div><!--bannerBorder-->

    <div class="pageWrapper">
    <h2>Deck Bulider</h2>

<div class="slideshow-container">

  <%for(let i = 0; i < cards.length; i+=6){%>
  <div class="mySlides1">

    <%for(let j = i; j < i+6 && j < cards.length ;j++){%>

      <img src="https://media-hearth.cursecdn.com/attachments/39/669/cardback_5.png" class="b-lazy"
      data-cardid="<%=cards[j].id%>"
      data-mana="<%=cards[j].mana%>"
      data-name="<%=cards[j].name%>"
      data-src="<%=cards[j].img%>" alt="">

    <%}%>

    <a class="prev" onclick="plusSlides(-1,1)" >&#10094;</a>
    <a class="next" onclick="plusSlides(1,1)" >&#10095;</a>
  </div>
  <%}%>
</div>

<div id="decklist">
</div>

<form action="/create_deck" id="submitDeck">
  <input type="text" name="deck_name" id="deck_name_input">
  <textarea name="desc" cols="30" rows="10" id="description_input"></textarea>
  <button>Submit</button>
</form>

</div> <!--pageWrapper-->

<script>
  var decklist = document.getElementById('decklist');
  var list = {};
  var cards = document.querySelectorAll('img');
  cards.forEach(card => {
    card.addEventListener('click', event => {
      const data = event.target.dataset;
      if(!list[data.cardid]) {
        list[data.cardid] = {
          mana: data.mana,
          name: data.name,
          qty: 0
        };
      }
      if(list[data.cardid].qty < 2) {
        list[data.cardid].qty++;
        if(!list[data.cardid].domElement) {
          let para = document.createElement('p');
          let text = document.createTextNode(data.name + ' ' + list[data.cardid].qty);
          para.appendChild(text);
          decklist.appendChild(para);
          list[data.cardid].domElement = para;
        } else {
          list[data.cardid].domElement.innerHTML = data.name + ' ' + list[data.cardid].qty;
        }
      }
    })

    card.addEventListener('contextmenu', event => {
      event.preventDefault();
      const data = event.target.dataset;
      if(list[data.cardid]) {
        if(list[data.cardid].domElement) {
          list[data.cardid].qty--;
          if(list[data.cardid].qty <= 0) {
            list[data.cardid].domElement.remove();
            list[data.cardid].domElement = undefined;
          } else {
            list[data.cardid].domElement.innerHTML = data.name + ' ' + list[data.cardid].qty;
          }
        }
      }
    })
  })

  document.getElementById('submitDeck').addEventListener('submit', event => {
      event.preventDefault();
      event.stopPropagation();
      let deck_info = {
        deck_name: document.getElementById('deck_name_input').value,
        desc: document.getElementById('description_input').value
      }
  })
</script>
<script type="text/javascript" src="/slide.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
<script type="text/javascript" src="/blazy.js"></script>
</body>

</html>
