<!-- '/' -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hearthstone Deck Builder</title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <% include ./partials/header %>
  <div class="bannerBorder">
      <a href="/login">login/register</a>
  </div><!--bannerBorder-->

  <div class="pageWrapper">



    <div class="deck">
      deck image here
    </div>
    <!--deck-->

  </div>
  <!--wrapper-->
</body>

</html>
