<!-- '/' -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hearthstone Deck Builder</title>
  </head>
  <body>

    <div class="nav">
      <div class="navLinks">
        <a href="#">login</a>
      </div><!--navLinks-->

      <div class="deck">
        deck image here
      </div><!--deck-->

    </div><!--nav-->
  </body>
</html>
