<!-- '/' -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hearthstone Deck Builder</title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <% include ./partials/header %>
  <div class="bannerBorder">
      <a class="nav" href="/login">login/register</a>
  </div><!--bannerBorder-->

  <div class="pageWrapper">


  <!-- deck image here -->
  <%for(let i =0; i< decks.length;i++){%>
    
    <h1 class="deck_name"><%=decks[i].deck_name%></h1>  
    <div class="deck">  
      
      <a class="deckI" href="/deck/<%=decks[i].deck_id%>"><img src="https://media-hearth.cursecdn.com/attachments/39/669/cardback_5.png"  alt=""></a>
      <!-- <div class="desc_background">
        <h5 class="desc_landing"><%= decks[i].desc%></h5>
      </div>
         -->
         
    </div>
  
    <%}%>
    <!--deck-->

  </div>
  <!--wrapper-->
</body>

</html>
