<!-- /login -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hearthstone Deck Builder</title>
    <link rel="stylesheet" href="/css/login-register.css">
  </head>
  <body>
    <a href="/index">Login</a>
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
    </form>
    <h1>Register</h1>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm" placeholder="Confirm Password">
      <input type="submit">
    </form>
  </body>
</html>
