<!-- /login -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hearthstone Deck Builder</title>
    <link rel="stylesheet" href="/css/login-register.css">
  </head>
  <body>
    <% include ./partials/header %>
    <div class="bannerBorder">
        <a id="leftLink" href="/">Go back</a>
    </div><!--bannerBorder-->
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit">
    </form>
    <h1>Register</h1>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" requred>
      <input type="password" name="confirm" placeholder="Confirm Password" required>
      <input type="submit">
    </form>
  </body>
</html>
