@import "master.css";

.cardComment{
  border: 1px solid black;
  padding:5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
span {
  padding-left: 20px;
  color: white;
  font-size: 1.5em;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdownLinks {
  color: black;
  padding-top: 10px;
  padding-left: 10px;
}
.pageWrapper {
    display: flex;
    justify-content: space-evenly;
}
.cardDiv {
  width: 100%;
  height: 100%;
}
.cardInfoDiv {
  text-align: center;
  padding: 3%;
}
