@import "master.css";

.cardComment {
  padding: 5px;
}
.bannerBorder {
  padding-top: 5px;
}
.pageWrapper {
    display: flex;
    justify-content: space-evenly;
}
.cardDiv {
  width: 100%;
  height: 100%;
}
.cardInfoDiv {
  border: 1px solid black;
  background-color: #66280b;
  -webkit-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.47);
  box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.47);
  border-radius: 20px;
  margin-top: 15%;
  text-align: center;
  color: white;
  padding: 15px;
}
.desc {
  max-width: 400px;
}

.comment {
  background-color: #dbcbac;
  color: black;
}